
{%extends 'admin_dashboard.html'%}
 {%block admin%}

<!--start nav-->
<nav class="navbar navbar-light bg-light container-fluid justify-content-start">

		<div class="container">
  <div class="row">
    <div class="col">
      <a href="{%url 'add_question' question_id.survey_id%}" class="btn btn-info" role="button"><i class="fas fa-plus"></i> Add New Question</a>
	</div>
    <div class="col order-12">
      <a href="#" class="btn btn-info text-center" role="button"><i class="fas fa-plus"></i> Add Text Box</a>

    </div>

</div>

</div>
	</nav>
<!--end nav-->
<br>
<div class = "centerdv container">
    	<div class = "page-header">
			<h3> Add checkbox choice to the Question: <font color="blue">{{question_name}}</font></h3>
    	</div>
    	<br>
    	<form method = "post"  class = "centerform" action=#>
    		{% csrf_token %}


			<table>
				{{form.as_table}}
			</table>
            <br>
    		<input type = "submit" class= "btn btn-primary" value = "Add Choice">

    	</form>
     <br>


</div>
 {%endblock%}