
{%extends 'admin_dashboard.html'%}
 {%block admin%}
<div class = "centerdv container">
    	<div class = "page-header">
			<h3> Add questions to the survey: <font color="blue">{{survey_title}}</font></h3>
    	</div>
    	<br>
    	<form method = "post"  class = "centerform" action=#>
    		{% csrf_token %}


			<table>
				{{form.as_table}}
			</table>
<!--    		<input type = "text" class = "form-control" name = "survey_title">-->
<!--            <input type = "text" class = "form-control" name = "survey_title">-->
<!--    		<br>-->
    		<input type = "submit" class= "btn btn-primary" value = "Save Question">
    	</form>
</div>
 {%endblock%}