    {%extends 'admin_dashboard.html'%}
{%block admin%}

    <table class="table table-striped">
  <thead>
    <tr class="table-primary">

      <th scope="col">Survey Title</th>
      <th scope="col">Crated Date</th>
        <th scope="col">Action</th>
        <th scope="col">Delete</th>

    </tr>
  </thead>

  <tbody>
  {% for survey in survey%}
    <tr>
      <td>{{survey.title}}</td>
      <td>{{survey.created_at}}</td>
        <td><a href="" class="btn btn-success"> <i class="far fa-check-circle"> Activate</i></a></td>
         <td><a href="" class="btn btn-danger"> <i class="far fa-trash-alt"> Delete</i></a></td>

    </tr>

 {%endfor%}
  </tbody>


</table>


    {%endblock%}